- return unless @project.feature_available?(:license_management)
- expanded = expanded_by_default?

%section.settings.no-animate#js-license-management{ class: ('expanded' if expanded) }
  .settings-header
    %h4
      = s_('LicenseManagement|License Management')
      = link_to icon('question-circle'), help_page_path('user/project/merge_requests/license_management'), target: '_blank', rel: 'noopener noreferrer'
    %button.btn.js-settings-toggle{ type: 'button' }
      = expanded ? _('Collapse') : _('Expand')
    %p
      = s_('LicenseManagement|Manage approved and blacklisted licenses for this project.')
  .settings-content
    #js-managed-licenses{ data: { api_url: @license_management_url } }
