- page_title s_('GroupSAML|SAML Single Sign On Settings')
%section.row.prepend-top-default
  .col-lg-3.append-bottom-default
    %h4.page-title
      = s_("GroupSAML|SAML Single Sign On")
    %p
      = s_("GroupSAML|Manage your group’s membership while adding another level of security with SAML.")
    = link_to help_page_path('user/group/saml_sso/index'), target: '_blank' do
      = _("Learn more")
      = icon('external-link')
  .col-lg-9
    = render 'info'
    = render 'form', group: @group, saml_provider: @saml_provider
- if Feature.enabled?(:group_scim, @group)
  %section.row.border-top.mt-4
    .col-lg-3.append-bottom-default
      %h4.page-title
        = s_('GroupSAML|SCIM Token')
    .col-lg-9
      = render 'scim_token'
